##### CHAIN SETUP
##### ALTO IS CURRENTLY ONLY ON ETHEREUM MAINNET

# RPC URL of specific chain with ID CHAIN_ID
# RPC_URL_{CHAIN_ID} = https://...
# i.e. RPC_URL_1=https://eth-mainnet.g.alchemy.com/v2/<ALCHEMY_API_KEY>
# for Ethereum Mainnet
RPC_URL_1=https://eth-mainnet.g.alchemy.com/v2/<ALCHEMY_API_KEY>

# Address of the liquidator executing transactions on specific chain
# EXECUTOR_ADDRESS_{CHAIN_ID} = 0x123...
EXECUTOR_ADDRESS_1=0x1234567890123456789012345678901234567890

# Private key of the wallet of liquidator executing transactions on specific chain
# LIQUIDATION_PRIVATE_KEY_{CHAIN_ID}
LIQUIDATION_PRIVATE_KEY_1=0x1234567890123456789012345678901234567890123456789012345678901234


##### OTHER SETTINGS

# (Optional) If set to "true" we will not check for profit during liquidaiton
SKIP_CHECK_FOR_PROFIT=

# (Optional) Subgraph Studio API key used in Uniswap Smart Order Router Venue
UNISWAP_V3_SUBGRAPH_BEARER_TOKEN=

# (Optional) 1" API Key used in 1" Venue
ONE_INCH_SWAP_API_KEY=

# (Optional) Odos API key. Public endpoint works without it, but enterprise access can use this header.
ODOS_API_KEY=

# (Optional) Ponder API URL (i.e. default in localhost is http://localhost:42069)
# If left empty we default to http://localhost:42069
PONDER_SERVICE_URL=

# (Optional) Private key of the wallet tied to flashbots
FLASHBOTS_PRIVATE_KEY=
